name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-lint-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Check types
        run: deno task check

      - name: Lint
        run: deno task lint

      - name: Test
        run: deno task test
